name: Run app only test cases alc_4348 alc_4349 alc_4956

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
       java-version: '11'
       distribution: 'adopt'
       architecture: 'x64'
       cache: 'maven'

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven

    - name: Install Maven dependencies
      run: mvn install
      
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.12.1' # Specify Node.js version

    - name: Install npm version 9.4.2
      run: |
        npm install -g npm@9.4.2

    - name: Install Newman version 5.3.2
      run: |
        npm install -g newman@5.3.2
        
    - name: Run tests
      run: |
        mvn test
